html,
body {
  min-height: 100%;
  background: linear-gradient(to bottom right, #312e81, #6d28d9, #be185d);
  background-attachment: fixed;
  margin: 0;
}

#root {
  min-height: 100vh;
  width: 100%;
}